// Base styles

@use "./variables" as *;

// Global styles
:root {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: $gray-800;
  background-color: $neu-bg;
}

#root {
  width: 100%;
  min-height: 100vh;
}

// Base element styles
a {
  color: $primary-600;
  text-decoration: none;
  transition: color $transition-base;

  &:hover {
    color: $primary-700;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
